{% load static %} 
<h1>Profile Page</h1>

<a href="{% url 'easebrain:update_profile' %}">Edit Profile</a>

<p><strong>ID:</strong> {{ user.user_id }}</p>
<p><strong>Title:</strong> {{ profile.title|default:"N/A" }}</p>
<p><strong>Full Name:</strong> {{ user.name }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Gender:</strong> {{ profile.gender|default:"N/A" }}</p>
<p><strong>Phone Number:</strong> {{ profile.phoneNumber|default:"N/A" }}</p>
<p><strong>Address:</strong> {{ profile.addressLine1|default:"N/A" }}</p>
<p><strong>Date of Birth:</strong> {{ profile.birthDate|default:"N/A" }}</p>
<p><strong>Next of Kin:</strong> {{ profile.next_of_kin|default:"N/A" }}</p>
<p><strong>Marital Status:</strong> {{ profile.maritalStatus|default:"N/A" }}</p>
<p><strong>Date of Enrollment:</strong> {{ profile.date_of_enrollment|default:"N/A" }}</p>
<p><strong>Summary:</strong> {{ profile.summary|default:"N/A" }}</p>
<p><strong>User Logo:</strong>
{% if profile.userLogo %}
  <img src="{{ profile.userLogo.url }}" alt="Profile picture">
{% else %}
  <p>No profile picture available.</p>
{% endif %}

<a href="{% url 'easebrain:logout' %}">Logout</a>

